--find-links https://download.pytorch.org/whl/torch_stable.html
torch
torchvision
Flask
pandas
requests
news_fetch
sentence_transformers
colorlog
scipy
numpy
news_please
elasticsearch
googledrivedownloader
tqdm